[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
	branch = 1.2.0
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
